body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  font-weight: 900;
  font-size: 32px;
  align-content: center;
  padding: 0 0 0 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;

  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  height: 225px;
  width: 330px;
  padding: 20px;
  font-weight: 500;
}

.corpo {
  
  display: flex;
  flex-grow: 1;
}

.cards {
  
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap:20px 20px;
  padding: 48px;
  width: 1600px;
}

a, ul {

  
  font-size: 24px;
  text-decoration: none;
  list-style-type: none;
  color: white;
  padding: 0px 0px 0px 0px;
}

ul {
  margin:10px 0 0 1px;
}