.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.logo {
  font-size: 36px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 2px 36px;
  align-self: acenter;
  justify-self: acenter;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin:0;
  padding: 0;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}